# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

In [2]:
# covered yesterday
my_list = list()

##### Using 'and' in if statements

In [3]:
# covered yesterday

##### Using both 'or' and 'and' in if statements

In [4]:
# covered yesterday

### String Manipulation

##### .lstrip()

In [3]:
# string.lstrip()
name = "     Leo"
print(name)
print(name.lstrip())

     Leo
Leo

##### .rstrip()

In [6]:
# string.rstrip()
name = "Leo       "
print(name)
print(name.lstrip())

Leo
Leo

In [13]:
name = "Leo esai"
name.rstrip(" esai")

'Leo'

##### .strip()

In [15]:
# string.strip()
name = "     Leo     "
name.strip()

'Leo'

In [17]:
name = "  Benny  t"
name.strip("t  ""  t")

'Benny'

##### .title()

In [21]:
# string.title()

name = "leo"
name.title()

'Leo'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [32]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [34]:
# min(list)
my_list=[88,56,234,4,634,45,2,44,6]
min(my_list)

2

##### max()

In [35]:
# max(list)
max(my_list)

634

##### sum()

In [50]:
# sum(list)
sum(my_list)
sum(my_list[1:2])

56

In [ ]:
##### sorted()

In [45]:
# sorted(list)
# returns a copy of the array in sorted order

print(sorted(my_list))
print(my_list)

[2, 4, 6, 44, 45, 56, 88, 234, 634]
[88, 56, 234, 4, 634, 45, 2, 44, 6]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [51]:
# list.sort()
my_list=[88,56,234,4,634,45,2,44,6]
my_list.sort()
my_list

[2, 4, 6, 44, 45, 56, 88, 234, 634]

##### Copying a List

In [53]:
# [:] copies a list, doesn't alter original
my_list= [1,2,3,4,5]
my_list2 = my_list[:]
my_list2.append(6)

##### 'in' keyword

In [55]:
my_list = [1,2,3,4,5]
my_list2 = my_list
my_list.append(6)
print(my_list2)
print(my_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

##### 'not in' keyword

##### Checking an Empty List

In [59]:
my_list = []
if my_list == []:
    print("Its empty")
if len(my_list) == 0:
    print("Its empty")
if not my_list:
    print("Its empty")

Its empty
Its empty
Its empty

In [60]:
my_list = [1,2,3]
if my_list:
    print("I have a list")

I have a list

##### Removing Instances with a Loop

In [62]:
# while, remove
names = ["Thu","Josh","Leo","Chris"]
print(names)
while "Chris" in names:
    names.remove("Chris")
    print(names)
print(names)

['Thu', 'Josh', 'Leo', 'Chris']
['Thu', 'Josh', 'Leo']
['Thu', 'Josh', 'Leo']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [64]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
        
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [9]:
nums =[]
for i in range(100):
    nums.append(i)
    
nums_comp = [i**2 for i in range(100)]
nums_comp

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [10]:
#Strinp comp
names= ["Vicky","Chris","Samantha"]

first_char_comp = [name[0] for name in names]
first_char_comp

['V', 'C', 'S']

In [13]:
#Conditionals If statements in a list comprehension
#We want the 5 letter names of the list
five_letter_names = [name for name in names if len(name) == 5]
five_letter_names

five_leter_names2 = [name if len(name) == 5 else "Not 5" for name in names]
five_leter_names2

['Vicky', 'Chris', 'Not 5']

In [16]:
# Double nested loop
la = [1,2,3,4,5,6]
lb = ["A", "B", "C", "D"]

let_num=[]
for number in la:
    for letter in lb:
        let_num.append(str(number)+letter) 
let_num

['1A',
 '1B',
 '1C',
 '1D',
 '2A',
 '2B',
 '2C',
 '2D',
 '3A',
 '3B',
 '3C',
 '3D',
 '4A',
 '4B',
 '4C',
 '4D',
 '5A',
 '5B',
 '5C',
 '5D',
 '6A',
 '6B',
 '6C',
 '6D']

In [18]:
let_num_comp = [str(number)+letter for number in la for letter in lb]
let_num_comp

['1A',
 '1B',
 '1C',
 '1D',
 '2A',
 '2B',
 '2C',
 '2D',
 '3A',
 '3B',
 '3C',
 '3D',
 '4A',
 '4B',
 '4C',
 '4D',
 '5A',
 '5B',
 '5C',
 '5D',
 '6A',
 '6B',
 '6C',
 '6D']

In [22]:
#chained loops 
sentence = ["Today","is","the","day","that's","gonna","bring","me","back","to","you"]
letters=[]
for word in sentence:
    for letter in word:
        letters.append(letter)
print(letters)

['T', 'o', 'd', 'a', 'y', 'i', 's', 't', 'h', 'e', 'd', 'a', 'y', 't', 'h', 'a', 't', "'", 's', 'g', 'o', 'n', 'n', 'a', 'b', 'r', 'i', 'n', 'g', 'm', 'e', 'b', 'a', 'c', 'k', 't', 'o', 'y', 'o', 'u']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [33]:
t = 1,2,3
t_1 = (1,2,3)

print(t)
print(type(t))
print(t_1)
print(type(t_1))

(1, 2, 3)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>

In [34]:
#empty tuples
t_2 = tuple()
t_3 = ()
print(type(t_2))
print(type(t_3))

<class 'tuple'>
<class 'tuple'>

In [35]:
t_1[1]

2

In [36]:
t_1.index(3)

2

In [37]:
#error wont work
t_1[1]=5

##### sorted()

In [39]:
t_5 = (5,73,45,433,5,2,76,1)
t_5=sorted(t_5)
t_5

[1, 2, 5, 5, 45, 73, 76, 433]

##### Adding values to a Tuple

In [45]:
#Reconstruct the tuple and add values
t_1 = t_1 + (4,5,6,7)
t_1

(1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7)

## Functions

##### User-Defined vs. Built-In Functions

In [52]:
# Built in functions
# int(), type(), min(), max(), print(), help(), dir(), abs(), sorted()

#User defined function:
def say_hello():
    print("Hello World!")
    
say_hello()

Hello World!

##### Accepting Parameters

In [57]:
# Order matters
# A variable can be any type of object
def print_full_name(first_name,last_name):
    print(f"{first_name} {last_name}")
    
print_full_name("Leo","Ashcraft")

Leo Ashcraft

##### Default Parameters

In [196]:
def print_agent_name(first,last="Bond"):
    print(f"Your agent name is {last}, {first} {last}")
    
print_agent_name("Leo")
print_agent_name("Leo","Ashcraft")

Your agent name is Bond, Kevin Bond
Your agent name is Beier, Kevin Beier

In [197]:
print_agent_name(last="ashcraft",first="leo")

Your agent name is beier, kevin beier

##### Making an Argument Optional

In [204]:
def make_name(first, middle="", last="Ed"):
    print(f"Hello {first} {middle} {last}")
make_name("leo")
make_name("leo","james")
make_name("leo","james","ashcraft")
make_name("leo",last = "ashcraft")

Hello leo  Ed
Hello leo james Ed
Hello leo james ashcraft
Hello leo  ashcraft

In [199]:
def make_name(middle="", last="Ed", first):
    print(f"Hello {first} {middle} {last}")

SyntaxError: non-default argument follows default argument (<ipython-input-199-35d725faaf8a>, line 1)

##### Keyword Arguments

In [206]:
my_dict={
    "first":"Leo",
    "last":"Ashcraft",
    "middle":"James"
}

# Dictionary unpacking
make_name(**my_dict)


first="Leo",last="Ashcrat", middle="James"

Hello Leo James Ashcraft

# Creating a start, stop, step function

In [82]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)
my_range(10,2,2)

2
4
6
8

##### Returning Values

In [90]:
def add_nums(num1, num2):
    return num1 + num2

    
add_nums(1,2)
print(add_nums(1,2))
print(type(add_nums(1,2)))
my_new_num = 5 + add_nums(1,2)
my_new_num

3
<class 'int'>

8

##### *args

In [94]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

def print_args(num1,*args):
    new=str(num1)
    for arg in args: 
        new+=arg
    return new
        
print_args(5, "hey", "teacher", "leave", "those", "kids", "alone")

'5heyteacherleavethosekidsalone'

##### Docstring

In [97]:
def print_names(list_):
    """
    list_ : is type list filled with strings
    this function will print all the names in the list
    """
    for name in list_:
        print(name)
        
print_names(["John", "Samantha", "Josh"])

John
Samantha
Josh

In [98]:
help(print_names)

Help on function print_names in module __main__:

print_names(list_)
    list_ : is type list filled with strings
    this function will print all the names in the list

##### Using a User Function in a Loop

In [99]:
def add_two(n):
    print(n+2)
    
response = input("Are you ready to quit?")
while True:
    ask = int(input("What is your number?"))
    add_two(ask)
    response = input("Ready to quit yet?")
    if response.lower()=="quit":
        break

Are you ready to quit?1
What is your number?2
4
Ready to quit yet?3
What is your number?4
6
Ready to quit yet?4
What is your number?quit

ValueError: invalid literal for int() with base 10: 'quit'

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [111]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']      

def add_names(first_names,last_names):
    full_names=[]
    for i in range(len(first_names)):
        full_names.append(first_names[i]+" "+last_names[i])
    return full_names

print(add_names(first_name, last_name))

#Advanced list comprehension:

def add_names_comp(first_names,last_names):
    full=[first_names[i] +' '+ last_names[i] for i in range(len(first_names))]
    return full

print(add_names_comp(first_name, last_name))

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [117]:
#placement of variable declaration matters
num = 6 #global variable

def my_func():
    num2 = 1 # local variable
    return num2+2

print(my_func())
print(num)

3
6

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [140]:
# Use the following list - [1,11,14,5,8,9]
number_list=[1,11,14,5,8,9]


final_list = [i for i in number_list if i <= 10]

final_list

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [190]:
mlist1=[4,2,3,1]
mlist2=[8,6,7,5]

def merged(a,b):
    a.sort(); b.sort()
    sorted_list=a + b
    return sorted_list

merged(mlist1,mlist2)

[1, 2, 3, 4, 5, 6, 7, 8]